body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea{
	color: #6e8090;
	}

#page { background-color: #ecf0f5;}

#page-local-moodleanalytics-dashboard #main-page .row {
    margin-left: 30px !important;
}

/* Header Css Start */

.pagelayout-admin .navbar { margin-bottom: 0px !important;}
#page-header { margin: 30px;}
#page-navbar { background-color: #928c8c;}
#page-navbar .breadcrumb-nav ul { margin-top: 10px; margin-left: 20px;}
#page-navbar .breadcrumb-nav li {
    color: #fff;
}

/* Header Css End */


/*Information-block Css Start */

	.Information-block { float: right;}
	.col-md-3, .col-sm-12, .col-xs-12 {
	 position: relative;
    min-height: 1px;
    padding-left: 10px;
   float: left;
	}
	
	.info-box { 
	min-height: 70px;
    padding: 10px;
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
	}
	
	.info-box .title{
	 font-size: 20px;
    margin: 20px;
    float: right;
} 

.info-box p { 
	margin: auto 29px;
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
	}
	
	
	.blue-bg { color: #fff;
    background: #57889c;
    background-color: #57889c;
	}
	
.brown-bg {
    color: #fff;
    background: #d1b993;
    background-color: #d1b993;
}

.green-bg {
    color: #fff;
    background: #1a2732;
    background-color: #1a2732;
}


/*Information-block Css End */



/*Groupbutton Css Start */
	
	#main-page .btn-group {
	float:right;
	background-image :none;
	
	}
	
	#main-page .btn-group .btn-primary {
	background-image :none;
	background-color:#666;
	text-shadow: none;
	border-color: #d8d6d3;
	
	}
/*Groupbutton Css End */



/*Section-First Css Start */
 #Section-First {background-color:#fff; height:350px; margin-top:30px;}

/*Section-First Css End*/


/*Mdlanalytics-total Css Start */

.mdlanalytics-total {
   margin: 50px auto;
   box-sizing: border-box;

   border: 1px solid #E3E3E3;
	}
	

	
.mdlanalytics-total h3 {
    width: 16%;
    margin-top: 30px;
	float:left;
    text-align: center;
    line-height: inherit;
}
	
	
.mdlanalytics-total .count{
    width: 16%;
    margin: 0;
    text-align: center;
    float: left;
    border-left: 1px solid #E3E3E3;
    box-sizing: border-box;
}

.mdlanalytics-total .count .items {
	font-size: 18px;
    font-weight: normal;
	}
	
.mdlanalytics-total .count p{ padding-top: 18px; font-size: 26px; */}
	

/*Mdlanalytics-total Css End */



/*Section-Second Css Start */

#Section-Second { margin-top: 40px; background-color:#fff;}
#Section-Second .span6 { float: right; margin-bottom: 10px;}
#Section-Second .enroll { padding-right: 20px; float:right; }

/*Section-Second Css Endt */ 


	
.info-box i {
	display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    
    color: rgba(255, 255, 255, 0.75);
	}
	
	
/*Performance-total Css Start */


.Performance-total {
    float: right;
    width: 50%;
	border: 1px solid  #E3E3E3;
}

.Performance-total h3 {
    width: 18%;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
    float: left;
    line-height: inherit;
}

.Performance-total p {
    width: 26%;
    font-size: 20px;
    padding: 10px 0px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    float: left;
    border-left: 1px solid #E3E3E3;
    box-sizing: border-box;
	line-height: 32px;
}

/*Performance-total Css End */



/* Load page content Css Start */

.IP-address { margin: 30px 0px;}
.IP-address h3 { text-align: center;} 
#activeip { margin: auto; }
#first-block {margin: 20px 0px; }

.languge-block h3 { margin-left: 60px;}
 #languagesused { margin: 0px auto;}
 
 
/* Load page content Css End */


