body{
   background-color:rgba(255,255,255,1);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea{
	color: #6e8090;
}
        
#page-local-moodleanalytics-dashboard .row, #page-local-moodleanalytics-course .row, #page-local-moodleanalytics-performance .row, #page-local-moodleanalytics-learner .row{
	padding: 10px;
}

/*Information-block Css Start */
.Information-block {
 	float: right;
}

.col-md-3, .col-sm-12, .col-xs-12 {
	position: relative;
    min-height: 1px;
    padding-left: 10px;
    float: left;
}
	
.info-box { 
	min-height: 70px;
    padding: 10px;
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}
	
.info-box .title{
	font-size: 20px;
    margin: 20px;
    float: right;
} 

.info-box p { 
	margin: auto 29px;
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
}

.info-box i {
	display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.blue-bg { 
	color: #fff;  
    background-color: #5aa0a2;
}
	
.brown-bg {
    color: #fff;
    background-color: #e0ac61;
}

.green-bg {
    color: #fff;
	background-color: #a6adb2;
}
/*Information-block Css End */

/*Groupbutton Css Start */
#main-page .btn-group {
	float:right;
	margin-top:10px;
}

.btn-group>.btn+.btn { 
	margin-left:4px !important;
}
 
.btn-group .btn-primary { 
    background-color: #224761; 
    color:#fff; 
    background-image: none; 
    box-shadow: inset 0 1px 0 rgba(46, 83, 109, 0.35),0 1px 2px rgba(0,0,0,0.05);
}

.btn-group .btn-primary:hover,.btn-group .btn-primary:active{
	background-color: #5e849e;
}
/*Groupbutton Css End */

/*Section-First Css Start */	
#Section-First {
	 margin-top:30px;
}

#Section-First .span3 {
	margin-left: 10px;  margin-top: 30px;
}

#Section-First .span3 caption { 
	font-size: 14px; 
	font-weight: bold; 
	margin-bottom:0px; 
	background-color: rgba(73, 116, 146, 0.88); 
	color:#fff; 
	padding: 3px;
	text-align: left;
}

#Section-First .span3 .number {
	float: right;
}

#Section-First .span3 td {
	padding:0px;
}

#Section-First .span3 th {
	padding-left: 30px;
}

#Section-First .span3 table {
	margin-bottom:30px;
}

#Section-First .span9{ 
	margin: 20px auto; padding-left: 60px;
}
/*Section-First Css End*/


/*Mdlanalytics-total Css Start */
.mdlanalytics-total {
	margin: 50px auto;
	box-sizing: border-box;
}

.mdlanalytics-total h3 {
    width: 12%;
    padding: 29px; 
    font-size: 28px;
	margin-top:1px;
    color: #fff;
    background-color: rgba(73, 116, 146, 0.88);
    border: 1px solid #5581a0;
    float: left; 
    text-align: center;
    line-height: inherit;
}

.mdlanalytics-total .countitems{
	margin-left: 0px !important;
}
	
.mdlanalytics-total .count{
    width: 16%; 
    text-align: center;
	border-right: 1px solid rgba(138, 132, 132, 0.1);
    padding: 4px;
    float: left;    
    box-sizing: border-box;
}

.mdlanalytics-total .count .items {
    font-size: 16px;
    font-weight: 600;
	color: #224761;
}

.mdlanalytics-total .count p{
	padding: 10px; 
    font-size: 30px;
    font-weight: bold;
	color:#224761;
}
/*Mdlanalytics-total Css End */


/*Section-Second Css Start */
#Section-Second .Enrollments-block, #Section-Second .participation,#Section-third .register, #Section-First, #course-mainpage, #enrolement-per, #first-block .languge-block,#first-block .Course-block, #IP-address .IP-block, #Learner-maincontent .unique_sessionsblock, #Learner-maincontent #registred-block, #register-content .registred-block,#register-bar .registerbar-content, #register-content .enrollanalytics-block {
  border: 1px solid #e6e9ed;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}

#Section-Second .Enrollments-block h3, #Section-Second .participation h3, #Section-third .register h3, #Section-First h3 , #course-mainpage h3, #enrolement-per h3, #first-block .languge-block h3, #first-block .Course-block h3, #IP-address .IP-block h3, .unique_sessionsblock h3 ,#registred-block  h3, #register-content .registred-block h3, #register-bar .registerbar-content h3, #register-content .enrollanalytics-block h3{
    font-weight: normal;
    padding-left: 30px;
    font-size: 20px;
    color: #fefefe;
    background-color: #224761;
    margin: 0px -1px;
}

#Section-Second .participation{
    margin-left: 6px;
}
/*Section-Second Css Endt */


/*Section-third Css Start */
#Section-third {
	margin-top: 30px;
}
#Section-third .register #countries {
	margin: auto; 
}
/*Section-third Css End */


/*Performance-total Css Start */
.Performance-total, .learner-total{
	float: right;
	width: 60%;
	border: 1px solid  #E3E3E3;
}

.Performance-total h3 {
    width: 16%;
    font-weight: bold;
    margin: 20px 0; 
    text-align: center;
    float: left;
    font-size: 20px;
    line-height: inherit;
}

.Performance-total p {
    width: 28%;
    font-size: 28px;
    padding: 10px 0px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    float: left;
    border-left: 1px solid #E3E3E3;
    box-sizing: border-box;
    line-height: 32px;
}

#Section-Second .Enrollments-block, #Section-Second .participation. {display:inline-block;}
/*Performance-total Css End */


/* Load page content Css Start */
#IP-address { 
	margin: 60px 0px;
}

.IP-address h3, #activeip {
	margin: 0px 60px;
}

#first-block {
	margin: 20px 0px;
}

.languge-block h3 {
	margin-left: 60px;
}

#languagesused {
	margin: 0px auto;
} 
/* Load page content Css End */


/* Course page content Css Start */
.left-Coursebar-total, .left-Learnerbar-total, .Right-Learnerbar-total {
	border: 1px solid  #E3E3E3;
}

.left-Coursebar-total p, .learner-total p, .left-Learnerbar-total p {
    width: 25%;
}

.left-Coursebar-total p,.learner-total p, .Right-Coursebar-total p, .Performance-total p, .left-Learnerbar-total p, .Right-Learnerbar-total p {
	font-size: 30px;
    padding: 10px 0px;
	color: #283131;
    margin: 0;
    text-align: center;
    float: left;
   	box-sizing: border-box;
	line-height: 32px;
	font-weight: bold;
}
	
.learner-total .learnerP-border{
	border-right: 1px solid #E3E3E3;
}
	
.left-Coursebar-total .learner-leftcoursebar-border, .learner-rightcoursebar-border{
	border-left: 1px solid #E3E3E3; 
}
	
.Right-Coursebar-total p, .Right-Learnerbar-total p {
	width: 33%
}
	
.Right-Coursebar-total p { width: 50%;}
	
#Learners-Page .Learner  { margin-top: 30px;}


.Right-Coursebar-total{
	border: 1px solid  #E3E3E3;
	float:right;
} 

.unique_sessionsblock input[type="text"]+input[type="submit"] , .unique_sessionsblock input[type="submit"], #course-mainpage .course-header input[type="text"]+input[type="submit"],
#course-mainpage .course-header input[type="submit"], #enrolement-per .enrolement-headerpart input[type="text"]+input[type="submit"] , #enrolement-per .enrolement-headerpart input[type="submit"]  {
    margin: 0 0 0 5px;
	background-color: #224761;
    background-image: none;
    color: antiquewhite;
    text-shadow: none;
}

.unique_sessionsblock input[type="text"]+input[type="submit"]:hover , .unique_sessionsblock input[type="submit"]:hover, #course-mainpage .course-header input[type="text"]+input[type="submit"]:hover, #course-mainpage .course-header input[type="submit"]:hover, #enrolement-per .enrolement-headerpart input[type="text"]+input[type="submit"]:hover , #enrolement-per .enrolement-headerpart input[type="submit"]:hover  {
	background-color: rgba(73, 116, 146, 0.88);
}


.unique_sessionsblock input[type="text"], #course-mainpage .course-header input[type="text"], #enrolement-per .enrolement-headerpart input[type="text"] {
	padding-left: 24px;
	margin-left: 10px;
}
	
.registerbar-content .monthandyear select+input[type="submit"] { 
	margin: 0 0 0 5px;
	background-color: #224761;
    background-image: none;
    color: antiquewhite;
    text-shadow: none;
	} 
	
.registerbar-content .monthandyear select+input[type="submit"]:hover{
	  background-color: rgba(73, 116, 146, 0.88);
}


.left-Coursebar-total .left-Coursebar-total-border, .Right-Coursebar-total .Right-Coursebar-total-border, .left-Learnerbar-total .left-Learnerbar-total-border, .Right-Learnerbar-total .Right-Learnerbar-total-border, .learnerbar .learner-total-border{
	border-right:1px solid #E3E3E3;
}

.Performance-total p> .number {  font-size:16px;} 

.left-Coursebar-total p>.coursebar-box, .Right-Coursebar-total p> .coursebar-box, .left-Learnerbar-total p> .left-Learnerbar-total-text, .Right-Learnerbar-total p> .Right-Learnerbar-total-text , .learner-total p> .learner-total-number, .Performance-total p> .text{ font-size:20px;}



.Right-Learnerbar-total .status{padding: 27px;}
	
#course-mainpage, #enrolement-per, #Learner-maincontent .unique_sessionsblock, #register-bar .registerbar-content{
	background-color: rgba(255, 255, 255, 0.81);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
	border: 2px solid #e6e9ed;
    padding-bottom: 10px;
}	

#course-mainpage form, #enrolement-per form, #Learner-maincontent form, .registerbar-content form{
	margin-top: 30px;
    text-align: center;
}
	
#course-mainpage #new_courses, #enrolement-per #enrollmentpercourse, #Learner-maincontent #unique_sessions, #register-bar #chart_div_new{
	margin: auto;
    margin-top: 30px;
    border: 2px solid #eee8e8;
    border-top: 3px solid #5aa0a2;
}
	
#Coursedasboard-Page .coursebar, #Learners-Page .learnerbar .learner-total{ margin-bottom: 30px;}
#enrolement-per, .alert {margin-top:30px;}
#enrolement-per h3 { margin: 0px auto;}
.alert-error { text-align: center; font-weight: bold;}
.alert {margin-bottom: 0px !important;}
#first-block #coursesize, #IP-address #activeip { margin: 20px auto;}
/* Course page content Css End */


/* Learners page content Css Start */
#Learners-Page .learnerbar .learner-total{float:right;}
#register-content,#register-bar, #enrollanalytics_content { margin-top:30px;}
.registerbar-content h2 { margin-top: 20px; text-align: center; color: #687272;}
#nextbutton {padding: 0px 80px; display: block; margin-top: 30px;}
#nextbutton .previous .arrow_text, #nextbutton .next .arrow_text{
    float: left;
    font-size: 16px;
	font-weight: bold;
    width: 120px;
    line-height: 48px;
    text-align: center;
	transition: all 0.3s ease 0s;
}

#nextbutton .next .arrow_text {float:right;}
#nextbutton .previous .arrow_text:hover,  #nextbutton .next .arrow_text:hover{width: 120px;}
#nextbutton  .current .arrow_text {
	margin-left: 32%;
    padding: 10px;
    background-color: #224761;
 	font-weight: bold;
	display: inline-block;
    color: #fefefe;
}

#nextbutton  .current .arrow_text:hover{ background: #428BCA;}



/* Learners page content Css End */
